
:root {
    --light-green: #53FF45;
    --white: #FEFCFB;
    --magenta: #D30C7B;
    --dark-green: #1B998B;
    --dark-blue: #0A1128;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-blue);
    color: var(--white);
}

form {
    margin: 0 auto;
    max-width: 80ch;
    border: 2px solid var(--dark-green);
    border-radius: 8px;
    padding: 3px;
}

.hidden {
    display: none;
}

.correct_answer {
    color: var(--dark-blue);
    background-color: var(--light-green);
}
.incorrect_answer {
    background-color: var(--magenta);
    color: var(--white);
}

.pages_qa-imgs-q {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    gap: 4px;
}

.pages_qa-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.pages_qa-astro_img {
    width: 12vw;
    min-width: 64px;
}
