
:root {
    --light-green: #53FF45;
    --white: #FEFCFB;
    --magenta: #D30C7B;
    --dark-green: #1B998B;
    --dark-blue: #0A1128;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-blue);
    color: var(--white);
}

form {
    margin: 0 auto;
    max-width: 80ch;
    border: 2px solid var(--dark-green);
    border-radius: 8px;
    padding: 3px;
}

.hidden {
    display: none;
}

.correct_answer {
    color: var(--dark-blue);
    background-color: var(--light-green);
}
.incorrect_answer {
    background-color: var(--magenta);
    color: var(--white);
}

.pages_qa-imgs-q {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    gap: 4px;
}

.pages_qa-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: none;
    gap: 8px;
}

.pages_qa-astro_img {
    width: 12vw;
    min-width: 64px;
}

.header_nav-top_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.pages_header-nav {
    position: absolute;
}
.pages_header-nav ul {
    list-style: none;
    padding: 0;
}
.pages_header-nav a {
    color: var(--white);
    text-decoration: none;
    padding: 4px;
    margin: 3px;
}
.pages_header-nav a:hover {
    background-color: var(--white);
    color: var(--dark-blue);
}

.header_nav-btn {
    background-color: transparent;
    min-width: 48px;
    min-height: 48px;
    border: none;
}
.header_nav-btn svg {
    fill: var(--light-green);
}
.header_nav-btn:hover {
    background-color: var(--light-green);
}
.header_nav-btn:hover svg {
    fill: var(--dark-blue);
}